body
{
    font-family: Arial;
}

#container
{
    width: 480px;
    height: 480px;
    background-color: white;
}

#review1Vak
{
    width: 480px;
    height: 160px;
    background-color: white;
    float: left;
}

#review2Vak
{
    width: 480px;
    height: 160px;
    background-color: whitesmoke;
    float: left;
}

#review3Vak
{
    width: 480px;
    height: 160px;
    background-color: white;
    float: left;
}

.naamEnAchternaam
{
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
}

.Review
{
    padding-left: 10px;
    font-size: 12px;
    margin: 3px;
}

.email
{
    margin: 0;
    padding-left: 10px;
    padding-bottom: 10px;

}